@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    box-sizing: border-box;


    --color-1: #f8c2c2cf;
    --color-2: #8785A2;
    --color-3: #F6F6F6;

    font-family: Lobster;
}

/*******HEADER****/
body{
    margin: 0;
    padding: 0;
    background-color: var(--color-1);
}

header table{
    border: none;
    background-color: var(--color-2);
    margin-top: -7px;
    width: 100%;
    
}

.logo-topo{
    width: 20vw;
    
}

.titulo-topo{
    width: 60vw;
}


h1{
    color: var(--color-3);
    font-size: 2.4em;
    text-shadow: 2px 2px 2px var(--color-2);
}

/* Links de navegação*/
.nav-topo{
    width: 20vw;
}

.nav-topo a{
    margin-left: 15px;
    color: var(--color-3);
    font-size: 1.3em;
    font-weight: 100;
    text-decoration: none;

}

.nav-topo a:hover{
    color: var(--color-1);
    border-bottom: 2px solid var(--color-1); 

}

.titulo-produtos{
    text-align: center;
    background-color: var(--color-1);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 4px 10px 2px var(--color-3);
 
}

.titulo-produtos h2{
    font-weight: 900;
    font-family: sans-serif;
    color: #68382f;

}

/***FOOTER***/
footer{
    background-color: var(--color-2);
    margin-top: 80px;
}

footer table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

footer input{
    width: 250px;
    height: 10px;
    border: 2px solid var(--color-1);
    border-radius: 6px;
    padding: 10px;
}

footer button{
    width: 120px;
    height: 30px;
    border-radius: 6px;
    background-color: var(--color-1);
    border: 2px solid var(--color-3);
    cursor: pointer;
}

footer button:hover{
    background-color: var(--color-2);
}

footer h4{
    font-weight: 200;
    color: #e4e14d;
    font-size: 22px;
    margin-bottom: 2px;
}

.copy-text{
    text-align: right;
    margin-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-right: 80px;
    color: var(--color-3);
}